ml
.gradle
*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/app/configuration.txt
*.apk
/.idea/copyright
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/modules.xml
.idea/runConfigurations.xml
/.gradle
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar
/.project
/.settings
.idea/
projectFilesBackup
